footer {
  background-color: #214E41;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}

.footer {
  margin: 100px 0 0 0;
}
.footer__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0px 0px 70px 0px;
}
.footer__link-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.footer__links {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.footer__links > li {
  list-style: none;
}
.footer__logo {
  max-height: 28px;
  margin: 0px 100px 0px 0px;
}
.footer__link-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 100px 0px 0px;
}
.footer__link {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
}
.footer__form-title {
  margin: 0px 0px 0px 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 185% */
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #fff;
}
.footer__form-subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.02px;
  color: #fff;
}
.footer__form-components {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0px 0px 30px 0px;
}
.footer__input {
  border: 1px solid #FFFFFF;
  border-radius: 0px;
  box-sizing: border-box;
  background-color: transparent;
  height: 50px;
  width: 100%;
  padding: 0px 0px 0px 0px;
}
.footer__btn {
  height: 50px;
  width: 53px;
  padding: 0px 0px 0px 0px;
  border: none;
  background-color: #fff;
}
.footer__linked-icons > a {
  text-decoration: none;
}
.footer__linked-icon {
  margin: 0px 25px 0px 0px;
}
.footer__content {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
.footer__content::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.footer__paragraph {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.footer__footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.footer__paragraph-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.footer__paragraph_span {
  margin: 0px 0px 0px 20px;
}

.last-paragraph::before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 1px;
  background-color: #fff;
  margin: 0 10px;
}