$maincolor: #43806C;
$black: #1C2323;
$white: #fff;
$smalltxt: #404242;

@mixin header-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: $maincolor;
}

@mixin link-text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: $black;
}

@mixin small-text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.main {
	height: 100%;
	width: 100%;
	flex: 1 0 auto;
	background: url(../img/mainbg.jpg);
	background-size: cover;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.banner {
	height: 100%;
	width: 100%;
	// align-items: center;

	&__title {
		@include header-text;
		margin: 0px 0px 40px 0px;
	}

	&__form {}
}

.search-form {

	&__title {
		@include link-text;
		font-size: 16px;
		line-height: 24px;
		color: $maincolor;
	}

	&__goup {
		margin: 16px 0;
	}

	&__input {
		height: 60px;
		width: 280px;
		padding: 0 0 0 10px;
		margin: 0px 0px 0px 0px;
		border-radius: 6px 0px 0px 6px;
		border: none;
		outline: none;
	}

	&__input::placeholder {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height, or 143% */


		color: #222222;
	}

	&__button {
		height: 60px;
		border-radius: 0px 6px 6px 0px;
		margin: 0px 0px 0px -5px;
	}
}


.sub-banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
	border-radius: 6px;
	margin: -75px 0px 0px 0px;
	background-color: $white;

	&__container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin: 50px;
		width: 100%;
	}

	&__block {
		@include small-text;
		max-width: 350px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__icon {
		margin: 10px;
	}

	&__content-block {}

	&__title {
		color: $maincolor;
		font-size: 16px;
		margin: 7px 0;
	}

	&__subtitle {
		color: $maincolor;
		margin: 0;
	}
}



.about {
	width: 100%;

	&__row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: flex-end;
	}

	&__content {
		width: 45%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-content: flex-start;
		position: relative;
	}

	&__toptitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		/* identical to box height, or 154% */

		letter-spacing: 0.05px;
		text-transform: uppercase;

		color: #43806C;

		margin: 135px 0 0 0;
	}

	&__title {
		@include header-text;
	}

	&__subtitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		/* or 167% */

		letter-spacing: 0.02px;

		color: #757575;
	}

	&__link-block {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
	}

	&__link {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 18px;
		text-decoration: none;
		text-align: center;
		letter-spacing: 0.02px;

		color: #214E41;
	}

	&__link::after {
		content: '';
		display: block;
		height: 2px;
		background-color: #214E41;
	}

	&__statistics {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: space-between;
		// margin: 0px 0px 0px 100px;
	}

	&__statistics-block {
		width: 50%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
	}

	&__percent {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 70px;
		line-height: 90px;

		margin: 0px 0px 30px 0px;

		color: #214E41;
	}

	&__percent::after {
		content: '';
		// position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background: #F0A446;
		border-radius: 0px;
	}

	&__text {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 22px;
		/* identical to box height, or 169% */

		letter-spacing: 0.02px;

		color: #214E41;
	}


	&__text>a {
		color: #214E41;
	}

	&__scale-block {
		width: 50%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-content: flex-end;
	}

	&__scale-container {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-content: flex-end;
		margin: 0px 0px 0px 50px;
	}

	&__scale-title::after {
		content: '';
		width: 78px;
		display: block;
		background-color: #43806C;
	}

	&__scale-title_left::after {
		height: 150px;
	}

	&__scale-title_right::after {
		height: 300px;
	}

	&__scale-container_right {
		margin: 0px 0px 0px 40px;
	}

	&__scale-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 22px;
		/* identical to box height, or 169% */

		text-align: center;

		color: #214E41;
		margin: 0;
	}

	&__scale-subtitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 22px;

		text-align: center;

		color: #214E41;
		margin: 20px 0 10px 0;
	}

	&__footer {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin: 0px 0px 120px 0px;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 22px;
		/* identical to box height, or 169% */

		text-align: center;

		color: #757575;
	}
}