@charset "UTF-8";
.main {
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
  background: url(../img/mainbg.jpg);
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.banner {
  height: 100%;
  width: 50%;
}
.banner__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #43806C;
  margin: 0px 0px 40px 0px;
}
@media only screen and (max-width: 900px) {
  .banner {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .banner__title {
    font-size: 30px;
    line-height: normal;
  }
}
.search-form__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #1C2323;
  font-size: 16px;
  line-height: 24px;
  color: #43806C;
}
.search-form__goup {
  margin: 16px 0;
}
.search-form__input {
  height: 60px;
  width: 280px;
  padding: 0 0 0 10px;
  margin: 0px 0px 0px 0px;
  border-radius: 6px 0px 0px 6px;
  border: none;
  outline: none;
}
.search-form__input::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #222222;
}
.search-form__button {
  height: 60px;
  border-radius: 0px 6px 6px 0px;
  margin: 0px 0px 0px -5px;
}

@media only screen and (max-width: 450px) {
  .search-form__goup {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
  .search-form__input {
    width: 75%;
  }
  .search-form__button {
    width: 25%;
  }
}
.sub-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
  border-radius: 6px;
  margin: -75px 0px 0px 0px;
  background-color: #fff;
}
.sub-banner__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  width: 100%;
}
.sub-banner__block {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 350px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.sub-banner__icon {
  margin: 10px;
  max-width: 45px;
}
.sub-banner__title {
  color: #43806C;
  font-size: 16px;
  margin: 7px 0;
}
.sub-banner__subtitle {
  color: #43806C;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .sub-banner__container {
    flex-flow: column;
    margin: 30px 10px;
  }
  .sub-banner__block {
    margin: 0px 0px 30px 0px;
  }
}
.about {
  width: 100%;
}
.about__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-end;
}
.about__content {
  width: 45%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: flex-start;
  position: relative;
}
.about__toptitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806C;
  margin: 135px 0 0 0;
}
.about__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #43806C;
}
.about__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: 0.02px;
  color: #757575;
}
.about__link-block {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.about__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02px;
  color: #214E41;
}
.about__link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #214E41;
}
.about__statistics {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
}
.about__statistics-block {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.about__percent {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  margin: 0px 0px 30px 0px;
  color: #214E41;
}
.about__percent::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #F0A446;
  border-radius: 0px;
}
.about__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */
  letter-spacing: 0.02px;
  color: #214E41;
}
.about__text > a {
  color: #214E41;
}
.about__scale-block {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-end;
}
.about__scale-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-content: flex-end;
  margin: 0px 0px 0px 50px;
}
.about__scale-title::after {
  content: "";
  width: 78px;
  display: block;
  background-color: #43806C;
}
.about__scale-title_left::after {
  height: 150px;
}
.about__scale-title_right::after {
  height: 300px;
}
.about__scale-container_right {
  margin: 0px 0px 0px 40px;
}
.about__scale-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */
  text-align: center;
  color: #214E41;
  margin: 0;
}
.about__scale-subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #214E41;
  margin: 20px 0 10px 0;
}
.about__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 120px 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */
  text-align: center;
  color: #757575;
}

@media only screen and (max-width: 950px) {
  .about__row {
    flex-flow: column;
  }
  .about__content {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .about__statistics {
    flex-flow: column;
  }
  .about__statistics-block {
    width: 100%;
    margin: 50px 0;
  }
  .about__scale-block {
    width: 100%;
    align-content: center;
    margin: 50px 0;
  }
  .about__scale-container {
    margin: 0 auto;
  }
}
.brings {
  background-color: #E3EEED;
  position: relative;
}
.brings__block {
  margin: 120px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.brings__block::before {
  content: "";
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  margin: 0 0 0 50%;
  position: absolute;
  background-color: #214E41;
  z-index: 1;
}
.brings__list-block {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.brings__list-toptitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #214E41;
  margin: 0px 0px 30px 0px;
}
.brings__list {
  padding: 0px 0px 0px 0px;
}
.brings__list > li {
  list-style: none;
}
.brings__list-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #214E41;
  cursor: pointer;
}
.brings__list-title::after {
  content: "→";
  display: inline-block;
  margin: 0px 0px 0px 20px;
}
.brings__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height, or 131% */
  color: #43806C;
  text-decoration: none;
}
.brings__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 2;
}
.brings__paragraph {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  /* or 170% */
  letter-spacing: 0.02px;
  color: #FFFFFF;
  max-width: 490px;
}

@media only screen and (max-width: 950px) {
  .brings__block {
    flex-flow: column;
    margin: 20px 0 0 0;
  }
  .brings__block::before {
    content: none;
  }
  .brings__list-block {
    width: 100%;
  }
  .brings__list {
    padding: 0 10px;
  }
  .brings__link {
    font-size: 24px;
  }
  .brings__content {
    width: 100%;
    background-color: #214E41;
  }
  .brings__paragraph {
    padding: 0 10px;
  }
}
.slider {
  margin: 120px 0;
}
.slider__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #214E41;
  margin: 0 0 115px 0;
}
.slider__body {
  width: 100%;
  position: relative;
}
.slider__track {
  display: flex;
  transition: 0.5s;
}
.slider__item {
  height: 100px;
  min-width: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.slider__item img {
  max-width: 100%;
}
.slider__btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.slider__btn-prev, .slider__btn-next {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0 -15px;
}

.slider > .container {
  max-width: 1280px;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .slider__item {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) {
  .slider__item {
    width: 33.333%;
  }
}
@media only screen and (max-width: 600px) {
  .slider__item {
    width: 50%;
  }
}
@media only screen and (max-width: 420px) {
  .slider__item {
    width: 100%;
  }
}
.help {
  position: relative;
  background-color: #E3EEED;
}
.help__block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.help__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url(../img/helpbg.jpg);
  background-size: cover;
  background-position: center;
}
.help__content {
  max-width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 90px 0 90px 50%;
  padding: 0px 0px 0px 120px;
}
.help__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
  margin: 45px 0;
}
.help__btn {
  margin: 0px 0px 90px 0px;
}

@media only screen and (max-width: 950px) {
  .help__block {
    flex-flow: column;
  }
  .help__img {
    min-width: 100%;
    min-height: 500px;
    position: static;
    display: block;
  }
  .help__content {
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media only screen and (max-width: 550px) {
  .title {
    font-size: 24px;
  }
}