$maincolor: #43806C;
$black: #1C2323;
$white: #fff;
$smalltxt: #404242;

@mixin header-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: $maincolor;
}

@mixin link-text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: $black;
}

@mixin small-text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.main {
	height: 100%;
	width: 100%;
	flex: 1 0 auto;
	background: url(../img/mainbg.jpg);
	background-size: cover;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.banner {
	height: 100%;
	width: 50%;
	// align-items: center;

	&__title {
		@include header-text;
		margin: 0px 0px 40px 0px;
	}

	&__form {}
}

@media only screen and (max-width: 900px) {
	.banner {
		width: 100%;
	}
}

@media only screen and (max-width: 450px) {
	.banner {

		&__title {
			font-size: 30px;
			line-height: normal;
		}
	}
}


.search-form {

	&__title {
		@include link-text;
		font-size: 16px;
		line-height: 24px;
		color: $maincolor;
	}

	&__goup {
		margin: 16px 0;
	}

	&__input {
		height: 60px;
		width: 280px;
		padding: 0 0 0 10px;
		margin: 0px 0px 0px 0px;
		border-radius: 6px 0px 0px 6px;
		border: none;
		outline: none;
	}

	&__input::placeholder {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height, or 143% */


		color: #222222;
	}

	&__button {
		height: 60px;
		border-radius: 0px 6px 6px 0px;
		margin: 0px 0px 0px -5px;
	}
}

@media only screen and (max-width: 450px) {
	.search-form {
		&__goup {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
		}

		&__input {
			width: 75%;
		}

		&__button {
			width: 25%;
		}
	}

	.button {}

}

.sub-banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
	border-radius: 6px;
	margin: -75px 0px 0px 0px;
	background-color: $white;

	&__container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin: 50px;
		width: 100%;
	}

	&__block {
		@include small-text;
		max-width: 350px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__icon {
		margin: 10px;
		max-width: 45px;
	}

	&__content-block {}

	&__title {
		color: $maincolor;
		font-size: 16px;
		margin: 7px 0;
	}

	&__subtitle {
		color: $maincolor;
		margin: 0;
	}
}

@media only screen and (max-width: 800px) {
	.sub-banner {

		&__container {
			flex-flow: column;
			margin: 30px 10px;
		}

		&__block {
			margin: 0px 0px 30px 0px;
		}
	}

}

.about {
	width: 100%;

	&__row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: flex-end;
	}

	&__content {
		width: 45%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-content: flex-start;
		position: relative;
	}

	&__toptitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		/* identical to box height, or 154% */

		letter-spacing: 0.05px;
		text-transform: uppercase;

		color: #43806C;

		margin: 135px 0 0 0;
	}

	&__title {
		@include header-text;
	}

	&__subtitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		/* or 167% */

		letter-spacing: 0.02px;

		color: #757575;
	}

	&__link-block {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
	}

	&__link {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 18px;
		text-decoration: none;
		text-align: center;
		letter-spacing: 0.02px;

		color: #214E41;
	}

	&__link::after {
		content: '';
		display: block;
		height: 2px;
		background-color: #214E41;
	}

	&__statistics {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: space-between;
		// margin: 0px 0px 0px 100px;
	}

	&__statistics-block {
		width: 50%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
	}

	&__percent {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 70px;
		line-height: 90px;

		margin: 0px 0px 30px 0px;

		color: #214E41;
	}

	&__percent::after {
		content: '';
		// position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background: #F0A446;
		border-radius: 0px;
	}

	&__text {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 22px;
		/* identical to box height, or 169% */

		letter-spacing: 0.02px;

		color: #214E41;
	}


	&__text>a {
		color: #214E41;
	}

	&__scale-block {
		width: 50%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-content: flex-end;
	}

	&__scale-container {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-content: flex-end;
		margin: 0px 0px 0px 50px;
	}

	&__scale-title::after {
		content: '';
		width: 78px;
		display: block;
		background-color: #43806C;
	}

	&__scale-title_left::after {
		height: 150px;
	}

	&__scale-title_right::after {
		height: 300px;
	}

	&__scale-container_right {
		margin: 0px 0px 0px 40px;
	}

	&__scale-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 22px;
		/* identical to box height, or 169% */

		text-align: center;

		color: #214E41;
		margin: 0;
	}

	&__scale-subtitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 22px;

		text-align: center;

		color: #214E41;
		margin: 20px 0 10px 0;
	}

	&__footer {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin: 0px 0px 120px 0px;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 22px;
		/* identical to box height, or 169% */

		text-align: center;

		color: #757575;
	}
}

@media only screen and (max-width: 950px) {
	.about {

		&__row {
			flex-flow: column;
		}

		&__content {
			width: 100%;
		}

	}
}

@media only screen and (max-width: 600px) {
	.about {
		&__statistics {
			flex-flow: column;
		}

		&__statistics-block {
			width: 100%;
			margin: 50px 0;
		}


		&__scale-block {
			width: 100%;
			align-content: center;
			margin: 50px 0;
		}

		&__scale-container {
			margin: 0 auto;
		}
	}
}

.brings {
	background-color: #E3EEED;
	position: relative;

	&__block {
		margin: 120px 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	&__block::before {
		content: '';
		height: 100%;
		width: 50%;
		top: 0;
		right: 0;
		margin: 0 0 0 50%;
		position: absolute;
		background-color: #214E41;
		z-index: 1;
	}

	&__list-block {
		width: 50%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__list-toptitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		/* identical to box height, or 154% */

		letter-spacing: 0.05px;
		text-transform: uppercase;

		color: #214E41;
		margin: 0px 0px 30px 0px;
	}

	&__list {
		padding: 0px 0px 0px 0px;
	}

	&__list>li {
		list-style: none;
	}

	&__list-title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 42px;

		color: #214E41;
		cursor: pointer;
	}

	&__list-title::after {
		content: '→';
		display: inline-block;
		margin: 0px 0px 0px 20px;
	}

	&__link {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 42px;
		/* identical to box height, or 131% */


		color: #43806C;
		text-decoration: none;
	}

	&__content {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		z-index: 2;
	}

	&__paragraph {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 34px;
		/* or 170% */

		letter-spacing: 0.02px;

		color: #FFFFFF;
		max-width: 490px;
	}
}

@media only screen and (max-width: 950px) {
	.brings {

		&__block {
			flex-flow: column;
			margin: 20px 0 0 0;
		}

		&__block::before {
			content: none;
		}

		&__list-block {
			width: 100%;
		}

		&__list {
			padding: 0 10px;
		}

		&__link {
			font-size: 24px;
		}

		&__content {
			width: 100%;
			background-color: #214E41;
		}

		&__paragraph {
			padding: 0 10px;
		}
	}
}


.plans {
	margin: 120px 0;

	&__body {
		width: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__row {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__top-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 20px;
		/* identical to box height, or 154% */

		letter-spacing: 0.05px;
		text-transform: uppercase;

		color: #43806C;
	}

	&__title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 46px;
		/* or 128% */


		color: #214E41;
	}

	&__subtitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		/* or 167% */

		letter-spacing: 0.02px;

		color: #757575;
	}

	&__img {
		max-width: 100%;
		margin: 20px;
	}

	&__indicators {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__indicator {
		// width: 25%;
		max-width: 240px;
	}

	&__indicator-title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 60px;
		line-height: 78px;
		/* identical to box height, or 130% */


		color: #F0A446;
	}

	&__indicator-subtitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 22px;
		/* or 169% */

		letter-spacing: 0.02px;

		color: #214E41;
	}
}

@media only screen and (max-width: 1000px) {
	.plans {

		&__row:first-child {
			flex-flow: column-reverse;
		}

		&__indicators {
			flex-flow: row wrap;
		}

		&__indicator {
			min-width: 50%;
		}

	}
}


@media only screen and (max-width: 525px) {
	.plans {

		&__row:first-child {
			flex-flow: column-reverse;
		}

		&__indicators {
			flex-flow: row wrap;
		}

		&__indicator {
			min-width: 100%;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
		}

		&__indicator-title {
			margin: 20px;
		}
	}
}




.experiences {

	&__body {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		max-width: 100%;
	}

	&__content {
		max-width: 50%;
	}

	&__top-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 900;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.05px;
		text-transform: uppercase;

		color: #43806C;
	}

	&__title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 46px;
		color: #214E41;
	}

	&__subtitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		letter-spacing: 0.02px;

		color: #757575;
	}

	&__link {
		position: relative;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 18px;
		text-decoration: none;
		text-align: center;
		letter-spacing: 0.02px;
		color: #214E41;
	}

	&__link::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background: #214E41;
		margin: 15px 0 0 0;
	}
}

@media only screen and (max-width: 700px) {
	.experiences {

		&__body {
			flex-flow: column-reverse;
		}

		&__img {}

		&__content {
			max-width: 100%;
			margin: 0 0 50px 0;
		}

	}

}

.employers {
	position: relative;
	min-height: 500px;
	width: 100%;



	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		min-height: 500px;
		max-height: 500px;
		z-index: -1;
		object-fit: cover;
		object-position: left;
	}

	&__body {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: flex-start;
		width: 50%;
		overflow: hidden;
	}

	&__top-title {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 20px;
		/* identical to box height, or 154% */

		letter-spacing: 0.05px;
		text-transform: uppercase;

		color: #43806C;
	}

	&__title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 46px;
		/* or 128% */


		color: #214E41;
	}

	&__subtitle {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		/* or 167% */

		letter-spacing: 0.02px;

		color: #757575;
		max-width: 500px;
	}

	&__link {
		position: relative;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 18px;
		text-decoration: none;

		text-align: center;
		letter-spacing: 0.02px;

		color: #214E41;

		margin: 20px 0;
	}

	&__link::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background: #214E41;
		margin: 15px 0 0 0;
	}
}

@media only screen and (max-width: 720px) {
	.employers {
		&__body {
			width: 100%;
		}
	}
}


.slider {
	margin: 120px 0;

	&__title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 46px;

		text-align: center;

		color: #214E41;
		margin: 0 0 115px 0;
	}

	&__body {
		width: 100%;
		position: relative;
	}

	&__track {
		display: flex;
		transition: .5s;
	}

	&__item {
		height: 100px;
		min-width: 20%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__item img {
		max-width: 100%;
	}

	&__btns {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	&__btn-prev,
	&__btn-next {
		background-color: transparent;
		outline: none;
		border: none;
		margin: 0 -15px;
	}

}

.slider>.container {
	max-width: 1280px;
	overflow: hidden;
}

@media only screen and (max-width: 1000px) {
	.slider {

		&__item {
			width: 25%;
		}
	}
}

@media only screen and (max-width: 800px) {
	.slider {
		&__item {
			width: 33.333%;
		}
	}
}

@media only screen and (max-width: 600px) {
	.slider {
		&__item {
			width: 50%;
		}
	}
}


@media only screen and (max-width: 420px) {
	.slider {
		&__item {
			width: 100%;
		}
	}
}

.help {
	position: relative;
	background-color: #E3EEED;

	&__block {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-image: url(../img/helpbg.jpg);
		background-size: cover;
		background-position: center;
	}

	&__content {
		max-width: 50%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin: 90px 0 90px 50%;
		padding: 0px 0px 0px 120px;
	}

	&__title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 46px;
		color: #214E41;
		margin: 45px 0;
	}

	&__btn {
		margin: 0px 0px 90px 0px;
	}
}

@media only screen and (max-width: 950px) {
	.help {

		&__block {
			flex-flow: column;
		}

		&__img {
			min-width: 100%;
			min-height: 500px;
			position: static;
			display: block;
		}

		&__content {
			max-width: 100%;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}
	}
}


@media only screen and (max-width: 550px) {
	.title {
		font-size: 24px;
	}
}