$maincolor: #43806C;
$black: #1C2323;
$white: #fff;
$smalltxt: #404242;

@mixin header-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
}

@mixin link-text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

html,
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	background-color: $white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 0px 0px 0px 0px;
	height: 100%;
	width: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

button {
	cursor: pointer;
}

.button {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;

	height: 40px;
	border-radius: 6px;
	border: none;
	padding: 10px 15px;

	background-color: $maincolor;
	color: $white;

	cursor: pointer;
}