html,
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  cursor: pointer;
}

#btnTop {
  width: 40px;
  min-height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1000;
  transition: 0.3s;
  box-shadow: #1c23236a 2px 2px 2px 2px;
  display: none;
  opacity: 0;
}

#btnTop:hover {
  transform: scale(1.15);
}

#btnTop img {
  max-width: 100%;
}

#btnTop.active {
  display: none;
}

.button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  border-radius: 6px;
  border: none;
  padding: 10px 15px;
  background-color: #43806C;
  color: #fff;
  cursor: pointer;
}